@charset "UTF-8";
/* шрифты */
:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black-opacity: rgba(0, 0, 0, 0.8);
  --gray: rgba(51, 51, 51, 1);
  --gray-opacity: rgba(51, 51, 51, 0.8);
  --light-gray: rgba(200, 200, 200, 1);
  --dark-blue: rgba(31, 41, 55, 1);
  --dark-blue-opacity: rgba(31, 41, 55, 0.6);
  --light-white: rgba(216, 225, 239, 1);
  --dark-light-blue: rgba(1, 111, 175, 1);
  --light-blue: rgba(5, 147, 255, 1);
  --swiper-blue: rgba(0, 128, 200, 1);
  --blue: rgba(0, 0, 100, 1);
  --pink: rgba(200, 100, 150, 1);
  --text-span: rgba(200, 100, 100, 1);
}

.light-theme {
  --main-color: #e5e5e5;
  --second-color: #272727;
  --menu-color: rgba(200, 200, 200, 1);
  --bg-dark-page: rgba(220, 220, 220, 1);
  --color-link: rgba(1, 111, 175, 1);
  --bg-pre: silver;
  --text-pre: rgba(0, 0, 0, 1);
  --text-com-pre: rgba(0, 0, 100, 1);
}

.dark-theme {
  --main-color: #272727;
  --second-color: #e5e5e5;
  --menu-color: rgba(80, 80, 80, 1);
  --bg-dark-page: transparent;
  --color-link: rgba(5, 147, 255, 1);
  --bg-pre: rgba(30, 30, 30, 1);
  --text-pre: rgba(190, 190, 190, 1);
  --text-com-pre: gray;
}

/* переменные */
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Thin.woff2") format("woff2"), url("../fonts/Exo20-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-ExtraLight.woff2") format("woff2"), url("../fonts/Exo20-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Light.woff2") format("woff2"), url("../fonts/Exo20-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Regular.woff2") format("woff2"), url("../fonts/Exo20-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Medium.woff2") format("woff2"), url("../fonts/Exo20-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-SemiBold.woff2") format("woff2"), url("../fonts/Exo20-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Bold.woff2") format("woff2"), url("../fonts/Exo20-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-ExtraBold.woff2") format("woff2"), url("../fonts/Exo20-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo20-Black.woff2") format("woff2"), url("../fonts/Exo20-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/* миксины */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* в vendor прописывается @import "./vendors/normalize.css" или "./vendors/swiper-min.css" */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  line-height: 1;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: var(--main-color);
  color: var(--second-color);
}

body.lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

/*==================================================*/
/* прижатие футера к низу */
html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*==================================================*/
.btn {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  font-size: 100%;
  color: inherit;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.img {
  /* display: block; */
  vertical-align: top;
  max-width: 100%;
}

.input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  resize: none;
}

.link {
  text-decoration: none;
  font-size: 100%;
  color: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table {
  border-collapse: collapse;
}

.title,
.text {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.pre {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 1;
}

/* ================================================== */
/* Анимационный скролл */
.hidden {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

/* ================================================== */
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-white);
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
}

/* сбросы и общие настройки */
/*HEADER*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: var(--white);
  /*header-menu*/
  /*header-submenu*/
  /*header-burger*/
  /*header-other*/
  /*header-search*/
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  min-height: 60px;
  background-color: var(--dark-blue);
}
.header-menu-item__link--main-page span, .header-menu-item__link--git span {
  font-size: 20px;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.header-menu-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.header-menu-item:hover {
  background-color: var(--swiper-blue);
}
.header-menu-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--dark-blue);
}
.header-menu-item__link--main-page, .header-menu-item__link--git {
  pointer-events: auto;
}
.header-menu-item__link span {
  font-size: 20px;
}
.header-menu-item__link svg {
  width: 16px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-menu-item:hover__link svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-menu-item__link path {
  stroke: var(--light-white);
}
.header-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
  max-height: 240px;
  background-color: var(--swiper-blue);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-menu-item:hover .header-submenu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.header-submenu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid var(--dark-blue);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.header-submenu-item:hover {
  background-color: var(--dark-blue);
}
.header-submenu-item__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-submenu-item__link span {
  color: var(--light-white);
}
.header-burger {
  position: relative;
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  width: 50px;
  height: 40px;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.header-burger span {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: var(--light-white);
  -webkit-transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-burger span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--light-white);
  -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-burger span::after {
  content: "menu";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  font-size: 18px;
  color: var(--light-white);
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header-burger.open-menu span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-burger.open-menu span::before {
  top: -1px;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header-burger.open-menu span::after {
  opacity: 0;
  visibility: hidden;
}
.header-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 70px;
  width: 100%;
  min-height: 60px;
  background-color: var(--dark-blue-opacity);
}
.header-logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 36px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--light-gray);
}
.header-search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 32px;
  background: transparent;
}
.header-search-form__input {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  width: 0;
  height: 100%;
  font-size: 1em;
  line-height: 1;
  color: var(--light-white);
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s cubic-bezier(0, 0.8, 0, 1), border 0.3s ease-in-out;
  transition: 0.3s cubic-bezier(0, 0.8, 0, 1), border 0.3s ease-in-out;
}
.header-search-form__input.show {
  width: 30%;
  right: 42px;
  border-color: var(--light-white);
}
.header-search-form__input::-webkit-input-placeholder {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-search-form__input::-moz-placeholder {
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-search-form__input:-ms-input-placeholder {
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-search-form__input::-ms-input-placeholder {
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-search-form__input::placeholder {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header-search-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header-search-form__input:focus::-moz-placeholder {
  color: transparent;
}
.header-search-form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.header-search-form__input:focus::-ms-input-placeholder {
  color: transparent;
}
.header-search-form__input:focus::placeholder {
  color: transparent;
}
.header-search-form__input:hover:not(:focus) {
  border-color: var(--light-blue);
}
.header-search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
}
.header-search-form__btn::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background: transparent;
  border-radius: 3px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.header-search-form__btn:focus:not(:hover):not(:active)::before {
  background-color: var(--light-blue);
}
.header-search-form__btn svg {
  position: relative;
  z-index: 1;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header-search-form__btn:focus:not(:hover):not(:active) svg {
  fill: var(--light-white);
}
.header-search-form__btn:hover svg {
  fill: var(--light-blue);
}

/*js-hero*/
.hero__container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1020px;
}
.hero__title {
  font-size: 60px;
}
.hero__btns {
  position: fixed;
  top: 150px;
  left: 10px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 20px;
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hero__btns.open-menu-btns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-left: 30px;
}
.hero__burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  width: 50px;
  height: 40px;
  color: #333;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.hero__burger span {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: var(--second-color);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.hero__burger span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--second-color);
  -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.hero__burger span::after {
  content: "menu";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  font-size: 18px;
  color: var(--second-color);
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.hero__burger.open-menu-burger span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hero__burger.open-menu-burger span::before {
  top: -1px;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hero__burger.open-menu-burger span::after {
  opacity: 0;
  visibility: hidden;
}
.hero .theme-btn {
  position: relative;
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
  border-radius: 40px;
  width: 60px;
  height: 38px;
}
.hero .theme-btn span {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: auto;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.hero .theme-btn.dark-theme-btn span {
  position: absolute;
  top: 2px;
  right: auto;
  bottom: 2px;
  left: 2px;
}
.hero__nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 220px 20px 10px;
  background-color: var(--menu-color);
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hero__nav.open-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.hero .hero-menu {
  height: 100%;
}
.hero .hero-menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.hero .hero-menu__link span {
  position: relative;
  font-size: 18px;
}
.hero .hero-menu__link span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--second-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hero .hero-menu__link span:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/*JavaScript*/
/*js-methods*/
.section.dark-page {
  background-color: var(--bg-dark-page);
}
.section__container {
  padding: 50px 10px;
  max-width: 1020px;
}
.section__title {
  margin-bottom: 50px;
  font-size: 48px;
  color: var(--text-span);
}
.section-block:not(:last-child) {
  margin-bottom: 40px;
}
.section-block__title {
  margin-bottom: 30px;
  font-size: 36px;
}
.section-block__link {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--color-link);
  text-decoration: none;
}
.section-block__link:hover {
  text-decoration: underline;
}
.section-block__list--numbs .section-block__item::marker {
  font-weight: 600;
  font-size: 20px;
}
.section-block__list--numbs .section-block__item:not(:last-child) {
  margin-bottom: 40px;
}
.section-block__item:not(:last-child) {
  margin-bottom: 5px;
}
.section-block__text {
  font-size: 20px;
  line-height: 1.2;
}
.section-block__text:not(:last-child) {
  margin-bottom: 20px;
}
.section-block__pre {
  padding: 20px 20px 0;
  background-color: var(--bg-pre);
  border-radius: 2px;
  font-size: 15px;
  color: var(--text-pre);
}
.section-block__pre:not(:last-child) {
  margin-bottom: 20px;
}
.section-block .js-methods-tooltip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--second-color);
  color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.section-block .com {
  font-style: italic;
  color: var(--text-com-pre);
}
.section-block .span-text {
  font-weight: 600;
  color: var(--text-span);
}