@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}
@include font-face("Exo 2", "Exo20-Thin", 100);
@include font-face("Exo 2", "Exo20-ExtraLight", 200);
@include font-face("Exo 2", "Exo20-Light", 300);
@include font-face("Exo 2", "Exo20-Regular", 400);
@include font-face("Exo 2", "Exo20-Medium", 500);
@include font-face("Exo 2", "Exo20-SemiBold", 600);
@include font-face("Exo 2", "Exo20-Bold", 700);
@include font-face("Exo 2", "Exo20-ExtraBold", 800);
@include font-face("Exo 2", "Exo20-Black", 900);
