html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: var(--main-color);
  color: var(--second-color);
}
body.lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
/*==================================================*/
/* прижатие футера к низу */
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}
/*==================================================*/
.btn {
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  border: none;
  font-size: 100%;
  color: inherit;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.img {
  /* display: block; */
  vertical-align: top;
  max-width: 100%;
}
.input {
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  border: none;
  resize: none;
}
.link {
  text-decoration: none;
  font-size: 100%;
  color: inherit;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.table {
  border-collapse: collapse;
}
.title,
.text {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.pre {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 1;
}

/* ================================================== */
/* Анимационный скролл */
.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.show {
  opacity: 1;
}
/* ================================================== */

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--dark-blue);
}
::-webkit-scrollbar-thumb {
  background-color: var(--light-white);
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 100%;
}
