/*js-hero*/
.hero {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1020px;
  }
  &__title {
    font-size: 60px;
  }

  &__btns {
    position: fixed;
    top: 150px;
    left: 10px;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 0;
    transition: 0.3s ease-in-out;

    &.open-menu-btns {
      flex-flow: row nowrap;
      padding-left: 30px;
    }
  }

  &__burger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 50px;
    height: 40px;
    color: #333;
    transition: border 0.3s ease-in-out;
    span {
      position: relative;
      width: 100%;
      height: 5px;
      background-color: var(--second-color);
      transition: transform 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--second-color);
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
      }
      &::after {
        content: "menu";
        position: absolute;
        right: 0;
        bottom: -20px;
        left: 0;
        font-size: 18px;
        color: var(--second-color);
        opacity: 1;
        visibility: visible;
        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }
    }
    &.open-menu-burger {
      span {
        transform: rotate(-45deg);
        &::before {
          top: -1px;
          left: 0;
          width: 100%;
          transform: rotate(90deg);
        }
        &::after {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  .theme-btn {
    position: relative;
    background-color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 40px;
    width: 60px;
    height: 38px;
    span {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: auto;
      background-color: var(--main-color);
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

    &.dark-theme-btn {
      span {
        position: absolute;
        top: 2px;
        right: auto;
        bottom: 2px;
        left: 2px;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 220px 20px 10px;
    background-color: var(--menu-color);
    transform: translateX(-200%);
    transition: 0.3s ease-in-out;

    &.open-menu {
      transform: translateX(0);
    }
  }

  .hero-menu {
    height: 100%;

    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__link {
      span {
        position: relative;
        font-size: 18px;

        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--second-color);
          transform: scaleX(0);
          transition: 0.3s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
