/* JAVASCRIPT */
.section {
  &.dark-page {
    background-color: var(--bg-dark-page);
  }
  &__container {
    padding: 50px 10px;
    max-width: 1020px;
  }
  &__title {
    margin-bottom: 50px;
    font-size: 48px;
    color: var(--text-span);
  }
  &-block {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 30px;
      font-size: 36px;
    }
    &__link {
      display: inline-block;
      margin-bottom: 30px;
      font-size: 20px;
      color: var(--color-link);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &__list--numbs {
      .section-block__item {
        &::marker {
          font-weight: 600;
          font-size: 20px;
        }
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 1.2;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__pre {
      padding: 20px 20px 0;
      background-color: var(--bg-pre);
      border-radius: 2px;
      font-size: 15px;
      color: var(--text-pre);
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    .js-methods-tooltip {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: var(--second-color);
      color: var(--main-color);
      width: 20px;
      height: 20px;
      border-radius: 100%;
      cursor: pointer;
    }
    .com {
      font-style: italic;
      color: var(--text-com-pre);
    }
    .span-text {
      font-weight: 600;
      color: var(--text-span);
    }
  }
}
